

/* to be downloaedd later */
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


body {
    font-family: 'Cairo', sans-serif;
}

.navbar-nav {
    padding-right: 0;
    padding-left: unset;
    text-align: right;
}

p, h3, h5, table, .card-header, .solar-calendar, .ramadan, .home-page table {
    text-align: right;
}

.header-of-page__content{
    font-size: 43px;
    padding-top: 33px;
}
.calendar-hijri, .ramadan, .home-page{
    direction: rtl;
}

.converter-switch{
    float: left;
}
.convert-button__col button{
    float: left;
}
